body {
    background-color: #ffffff;
}

.box {
    width: 800px;
    height: 640px;
    background: #000;
    color: #ffffff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}

form {

}

.login-panel {
    float: left;
}

.image-panel {
    float: right;
}